<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--扫描注解-->
    <context:component-scan base-package="cn.yswu"></context:component-scan>

    <!--开启aop注解使用功能-->
    <!--<aop:aspectj-autoproxy></aop:aspectj-autoproxy>-->

    <!--aop 的xml方式实现-->
    <aop:config>
        <aop:aspect ref="logAspect3">
            <aop:pointcut id="cutAllService" expression="execution(* cn.yswu.service.impl.*.*(..))"/>
            <aop:before method="before" pointcut="execution(* cn.yswu.service.impl.*.*(..)) &amp;&amp; @annotation(logger)"/>
            <aop:after method="after"  pointcut="execution(* cn.yswu.service.impl.*.*(..)) &amp;&amp; @annotation(logger)"></aop:after>
            <aop:after-returning method="afterReturning" returning="returnValue" pointcut-ref="cutAllService"></aop:after-returning>
            <aop:after-throwing method="afterThrowing" throwing="ex" pointcut-ref="cutAllService"></aop:after-throwing>
            <aop:around method="arroud" pointcut-ref="cutAllService"></aop:around>
        </aop:aspect>
    </aop:config>

</beans>